<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>
<table>

    <tr>
        <td>

            <a href="{{url_for('search_table')}}" >
                查询数据库
            </a>
        </td>
        <td>
            <input type="text" name="var_one" value="{{var_one_value}}"/>
        </td>
    </tr>

    <tr>
        <td>
            <a href="{{url_for('generate_android_file')}}">
                创建安卓文件
            </a>
        </td>
        <td>
            <input type="text" name="var_one" value=""/>
        </td>
    </tr>
</table>
<input type="text" name="var_two" value="{{var_two_value}}">
</body>
</html>
