<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
</head>
<body>

<table>

    <tr>
        <td>

            <a href="{{url_for('search_table')}}">
                查询数据库
            </a>
        </td>
        <td>
            <input type="text" name="var_one" value="{{var_one_value}}"/>
        </td>
    </tr>

    <tr>
        <td>
            <a href="">
                创建安卓文件
            </a>
        </td>
    </tr>

 <tr>
        <td>
            <a href="{{url_for('requesturl_noparam')}}">
                调用api
            </a>
        </td>
    </tr></table>
</body>
</html>
